In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('../data/data.csv')

# Display the first few rows of the dataset
df.head()

,Start Time,End Time,Vessel Name,Power Galley 1 (MW),Power Galley 2 (MW),Power Service (MW),HVAC Chiller 1 Power (MW),HVAC Chiller 2 Power (MW),HVAC Chiller 3 Power (MW),Scrubber Power (MW),...,Starboard Side Propulsion Power (MW),Bow Thruster 1 Power (MW),Bow Thruster 2 Power (MW),Bow Thruster 3 Power (MW),Stern Thruster 1 Power (MW),Stern Thruster 2 Power (MW),Main Engine 1 Fuel Flow Rate (kg/h),Main Engine 2 Fuel Flow Rate (kg/h),Main Engine 3 Fuel Flow Rate (kg/h),Main Engine 4 Fuel Flow Rate (kg/h)
0,2023-01-01T00:00:00,2023-01-01T00:05:00,Vessel 1,0.0946,0.1384,5.4654,0.5074,0.0,0.4979,0.4191,...,0.9837,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1645.82000
1,2023-01-01T00:05:00,2023-01-01T00:10:00,Vessel 1,0.0540,0.1370,5.4387,0.5158,0.0,0.4982,0.4204,...,0.9885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1643.78999
2,2023-01-01T00:10:00,2023-01-01T00:15:00,Vessel 1,0.0439,0.1785,5.5265,0.5117,0.0,0.5032,0.4199,...,0.9595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1642.07000
3,2023-01-01T00:15:00,2023-01-01T00:20:00,Vessel 1,0.0733,0.1725,5.5257,0.5177,0.0,0.5103,0.4188,...,0.9914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1650.71000
4,2023-01-01T00:20:00,2023-01-01T00:25:00,Vessel 1,0.0780,0.1397,5.4634,0.5169,0.0,0.5100,0.4203,...,0.9932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1644.54000

In [6]:
# Check the number of rows and columns
print(f"Dataset contains {df.shape[0]} rows and {df.shape[1]} columns.")

# Display column names
print("\nColumns in the dataset:\n", df.columns.tolist())

Dataset contains 210240 rows and 44 columns.

Columns in the dataset:
 ['Start Time', 'End Time', 'Vessel Name', 'Power Galley 1 (MW)', 'Power Galley 2 (MW)', 'Power Service (MW)', 'HVAC Chiller 1 Power (MW)', 'HVAC Chiller 2 Power (MW)', 'HVAC Chiller 3 Power (MW)', 'Scrubber Power (MW)', 'Sea Temperature (Celsius)', 'Boiler 1 Fuel Flow Rate (L/h)', 'Boiler 2 Fuel Flow Rate (L/h)', 'Incinerator 1 Fuel Flow Rate (L/h)', 'Diesel Generator 1 Power (MW)', 'Diesel Generator 2 Power (MW)', 'Diesel Generator 3 Power (MW)', 'Diesel Generator 4 Power (MW)', 'Latitude (Degrees)', 'Longitude (Degrees)', 'Relative Wind Angle (Degrees)', 'True Wind Angle (Degrees)', 'Depth (m)', 'Relative Wind Direction (Degrees)', 'True Wind Direction (Degrees)', 'Draft (m)', 'Speed Over Ground (knots)', 'True Wind Speed (knots)', 'Relative Wind Speed (knots)', 'Speed Through Water (knots)', 'Local Time (h)', 'Trim (m)', 'Propulsion Power (MW)', 'Port Side Propulsion Power (MW)', 'Starboard Side Propulsion Power (MW)', 'Bow Thruster 1 Power (MW)', 'Bow Thruster 2 Power (MW)', 'Bow Thruster 3 Power (MW)', 'Stern Thruster 1 Power (MW)', 'Stern Thruster 2 Power (MW)', 'Main Engine 1 Fuel Flow Rate (kg/h)', 'Main Engine 2 Fuel Flow Rate (kg/h)', 'Main Engine 3 Fuel Flow Rate (kg/h)', 'Main Engine 4 Fuel Flow Rate (kg/h)']

In [7]:
# Summary statistics of numerical columns
df.describe()

,Power Galley 1 (MW),Power Galley 2 (MW),Power Service (MW),HVAC Chiller 1 Power (MW),HVAC Chiller 2 Power (MW),HVAC Chiller 3 Power (MW),Scrubber Power (MW),Sea Temperature (Celsius),Boiler 1 Fuel Flow Rate (L/h),Boiler 2 Fuel Flow Rate (L/h),...,Starboard Side Propulsion Power (MW),Bow Thruster 1 Power (MW),Bow Thruster 2 Power (MW),Bow Thruster 3 Power (MW),Stern Thruster 1 Power (MW),Stern Thruster 2 Power (MW),Main Engine 1 Fuel Flow Rate (kg/h),Main Engine 2 Fuel Flow Rate (kg/h),Main Engine 3 Fuel Flow Rate (kg/h),Main Engine 4 Fuel Flow Rate (kg/h)
count,210224.000000,210224.000000,210222.000000,210033.000000,210033.000000,210033.000000,210224.000000,210224.000000,210224.000000,210224.000000,...,210224.000000,210224.0,210224.000000,210224.000000,210224.000000,210224.000000,210224.000000,210224.000000,210224.000000,210224.000000
mean,0.037829,0.118840,4.923284,0.182571,0.159086,0.154729,0.394463,18.304904,36.068139,42.353830,...,3.374630,0.0,0.019870,0.014267,0.007779,0.006345,679.989948,539.546951,834.261305,429.412422
std,0.164684,0.182357,1.014741,0.236498,0.221811,0.230015,0.298189,6.259071,65.686900,72.012122,...,3.556218,0.0,0.128836,0.109068,0.063091,0.057189,991.553297,643.146245,1047.545901,626.394026
min,0.000000,0.000000,-0.040000,0.000000,0.000000,0.000000,0.000000,2.800000,0.000000,0.000000,...,-0.020000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.007300,0.051600,4.239700,0.000000,0.000000,0.000000,0.155500,13.700000,0.000000,0.000000,...,0.020000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.025600,0.104300,4.916700,0.000000,0.000000,0.000000,0.321150,18.203900,0.000000,0.000000,...,2.490400,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.055800,0.178500,5.526600,0.386400,0.348900,0.338900,0.763600,21.796525,58.300000,69.181675,...,6.456100,0.0,0.000000,0.000000,0.000000,0.000000,2022.880000,1090.832492,2145.410010,991.817500
max,40.285400,40.305400,15.264000,0.826100,0.793000,6.305300,1.031500,31.611500,482.057000,446.096000,...,13.943800,0.0,6.264100,6.574400,1.490400,1.487800,2695.290040,1872.620000,2777.239990,1905.090010

In [12]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)
print("\nTotal Missing values:", sum(missing_values))

Missing values in each column:
 Start Time                                  0
End Time                                    0
Vessel Name                                 0
Power Galley 1 (MW)                        16
Power Galley 2 (MW)                        16
Power Service (MW)                         18
HVAC Chiller 1 Power (MW)                 207
HVAC Chiller 2 Power (MW)                 207
HVAC Chiller 3 Power (MW)                 207
Scrubber Power (MW)                        16
Sea Temperature (Celsius)                  16
Boiler 1 Fuel Flow Rate (L/h)              16
Boiler 2 Fuel Flow Rate (L/h)              16
Incinerator 1 Fuel Flow Rate (L/h)         16
Diesel Generator 1 Power (MW)              16
Diesel Generator 2 Power (MW)              16
Diesel Generator 3 Power (MW)              16
Diesel Generator 4 Power (MW)              16
Latitude (Degrees)                        340
Longitude (Degrees)                       340
Relative Wind Angle (Degrees)              14
True Wind Angle (Degrees)                  74
Depth (m)                               57494
Relative Wind Direction (Degrees)          55
True Wind Direction (Degrees)              74
Draft (m)                                1143
Speed Over Ground (knots)                 900
True Wind Speed (knots)                    74
Relative Wind Speed (knots)                14
Speed Through Water (knots)               941
Local Time (h)                            340
Trim (m)                                 1079
Propulsion Power (MW)                      16
Port Side Propulsion Power (MW)            16
Starboard Side Propulsion Power (MW)       16
Bow Thruster 1 Power (MW)                  16
Bow Thruster 2 Power (MW)                  16
Bow Thruster 3 Power (MW)                  16
Stern Thruster 1 Power (MW)                16
Stern Thruster 2 Power (MW)                16
Main Engine 1 Fuel Flow Rate (kg/h)        16
Main Engine 2 Fuel Flow Rate (kg/h)        16
Main Engine 3 Fuel Flow Rate (kg/h)        16
Main Engine 4 Fuel Flow Rate (kg/h)        16
dtype: int64

Total Missing values: 63889

In [10]:
# Total count for each vessel
df['Vessel Name'].value_counts()

Vessel Name
Vessel 1    105120
Vessel 2    105120
Name: count, dtype: int64